* {
  box-sizing: border-box;
}

:root {
  --primary-color: #7264d6;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: " Open Sans", sans-serif;
  background: #fff;
}

/*Common*/
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: " Open Sans", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  border-radius: 6px;
  background: #212832;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.section-heading {
  color: #212832;
  font-family: "Open Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
}

.section-desc {
  margin-top: 20px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

/*Header*/
