* {
  box-sizing: border-box;
}

:root {
  --primary-color: #7264d6;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: " Open Sans", sans-serif;
  background: #fff;
}

/*Common*/
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: " Open Sans", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  border-radius: 6px;
  background: #212832;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  opacity: 0.9;
  cursor: pointer;
}

.section-heading {
  color: #212832;
  font-family: "Open Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
}

.section-desc {
  color: #696d76;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

/*Header*/
.header {
  padding: 26px 0;
  position: sticky;
  top: -30px;
  background: #fff;
  z-index: 5;
  margin-bottom: 88px;
}

.header__inner {
  padding-top: 12px;
  display: flex;
  align-items: center;
}

.navbar__list {
  padding-left: 70px;
  display: flex;
}
.navbar__link {
  position: relative;
}

.header-action__link {
  color: #212832;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.header-action__link-active {
  width: 113px;
  height: 52px;
  padding: 12px 28px;
  margin-left: 12px;
}

.navbar__link {
  padding: 8px 24px;
  color: #696d76;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.navbar__link-active {
  color: #212832;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.navbar__link-active::before {
  position: absolute;
  content: "";
  width: 47px;
  height: 2px;
  flex-shrink: 0;
  bottom: 0;
  border-radius: 0.5px;
  background: #7264d6;
}

.navbar__link:hover {
  color: #212832;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.header-action {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 28px;
}

/*Hero*/
/*Hero__left*/
.hero__inner {
  display: flex;
  align-items: center;
}
.hero__left {
  width: 540px;
}

.hero__right {
  width: 570px;
  margin-left: 68px;
}

.hero-desc__desc {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.hero-desc__desc::before {
  content: "";
  width: 18px;
  height: 2px;
  margin-right: 12px;
  flex-shrink: 0;
  background: #696d77;
}

.hero-heading {
  margin-bottom: 20px;
}

.hero-heading__heading {
  color: var(--primary-color);
}

.hero__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 540px;
  height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__input {
  width: 100%;
  height: 100%;
  padding: 0 23px;
  outline: none;
  border: none;
  border-radius: inherit;
}

.hero__input {
  color: #696d76;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.hero__button {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  width: 149px;
  height: 58px;
  margin-right: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #7264d6;
  outline: none;
  border: none;
}

.section-desc__hero-right {
  margin-top: 20px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}

/*Hero right*/
.hero__right {
  width: 100%;
  position: relative;
}

.hero-right__img {
  margin-left: 100px;
}
.hero-deposit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 174px;
  height: 46px;
  top: 113px;
  left: 0;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero-deposit__desc {
  margin-left: 8px;
  color: #31456a;
  font-size: 14px;
  font-weight: 600;
}

.hero-deposit__money {
  margin-left: 19px;
  color: #4ab5e3;
  font-size: 14px;
  font-weight: 400;
}

.hero-interest {
  position: absolute;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 127px;
  right: 0;
  width: 130px;
  height: 130px;
  flex-shrink: 0;
  background: #da6464;
}

.hero-interest__percent {
  color: #fff;
  font-size: 44px;
  font-weight: 600;
}

.hero-interest__desc {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.hero-fund {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  width: 124px;
  height: 68px;
  top: 438px;
  right: 92px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #439f90;
}

.hero-fund__img {
  width: 20px;
  height: 26px;
  flex-shrink: 0;
  padding: 20px auto 22px 14px;
}

.hero-fund__money {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.hero-fund__desc {
  margin-top: 5px;
  color: #fff;
  font-size: 8px;
  font-weight: 400;
}

/*Work*/
.work {
  margin-top: 76px;
  padding: 42px 0;
}

.work__inner {
  display: flex;
  align-items: center;
  gap: 230px;
}
/*Work-left*/
.work-left {
  position: relative;
  width: 570px;
}

.work-left__image {
  position: relative;
}

.work-left__image::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.work-left__02 {
  position: relative;
  z-index: 1;
  display: block;
  margin-left: 7px;
  width: calc(100% - 14px);
}

.work-left__img03 {
  position: absolute;
  top: 90px;
  right: 66px;
}

.work-left__account {
  display: inline-flex;
  align-items: center;
  width: 226px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work-left__check-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

.work-left__account-check {
  margin: 15px 0 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background: #4ab5e3;
}
.work-congratulation {
  margin-left: 10px;
}

.work-left__account {
  position: absolute;
  bottom: 96px;
  right: -100px;
  z-index: 1;
}
.work-congratulation__heading {
  color: #212832;
  font-size: 14px;
  font-weight: 600;
}

.work-congratulation__desc {
  margin-top: 5px;
  color: #696d76;
  font-size: 12px;
  font-weight: 400;
}
/*Work-right*/
.work-right {
  padding: 29px auto;
  width: 540px;
  margin-left: auto;
}

.work-right__heading-big {
  margin-top: 12px;
  margin-bottom: 70px;
  color: #212832;
  font-size: 40px;
  font-weight: 700;
}

.work-right__heading-small {
  margin-top: 30px;
  margin-bottom: 16px;
  color: #212832;
  font-size: 22px;
  font-weight: 600;
}

.work-right__desc {
  color: #696d76;
  font-size: 16px;
  font-weight: 400;
}

/*feature*/
.feature {
  margin-top: 76px;
  padding: 42px 0;
}

.feature__inner {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  row-gap: 160px;
}

.feature__media-top {
  position: relative;
  margin-left: 130px;
}

.feature-media__img01 {
  width: 482px;
}

.feature__heading-first {
  width: 470px;
  color: #212832;

  font-family: "Open Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
}

.feature__desc {
  width: 470px;
  margin-top: 20px;
  margin-bottom: 28px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.feature__heading-second {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  color: #212832;
  font-size: 18px;
  font-weight: 600;
}

.feature__heading-second::before {
  content: "";
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  background: #7264d6;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 4px;
}

.feature__btn {
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
  background: #212832;
  width: 149px;
  height: 58px;
  flex-shrink: 0;
}

.feature-media__image {
  position: relative;
}

.feature-media__image::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/feature-background.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.feature-media__img {
  position: relative;
  z-index: 1;
  display: block;
  margin-left: 29px;
  width: calc(100% - 57px);
}

.feature-kite {
  position: absolute;
  top: -48px;
  right: 0;
  display: inline-flex;
  align-items: center;
  width: 276px;
  height: 86px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.feature-kite__img {
  margin: 23px 14px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: rgb(202 152 152);
  box-shadow: -4px -2px 16px 0px #fff,
    4px 2px 16px 0px rgba(136, 165, 191, 0.48);
}

.feature-kite__method {
  margin-right: 76px;
}

.feature-kite__heading {
  color: #212832;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
}

.feature-kite__desc {
  margin-top: 4px;
  color: #696d76;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
}

.feature-kite__number {
  margin-right: 13px;
  color: #212832;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.feature-kite__month {
  padding-right: 13px;
  color: #696d76;
  text-align: right;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
}

.feature-income {
  position: absolute;
  padding-top: 14px;
  padding-bottom: 15px;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #439f90;
  bottom: -54px;
  right: 0;
}

.feature-income__money {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}

.feature-income__desc {
  margin-top: 14px;
  margin-left: 15px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
}

.feature-income__number {
  margin-top: 6px;
  margin-left: 15px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
}

.feature__media-bottom {
  position: relative;
  margin-right: 130px;
  width: 570px;
  width: 100%;
}

.feature-payment {
  position: absolute;
  z-index: 2;
  right: -85px;
  bottom: 57px;
  padding: 28px;
  width: 281px;
  height: 220px;
  flex-shrink: 0;
  background: #fff;
  filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
}

.feature-payment__method {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  row-gap: 18px;
}

.feature-payment__method-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 63px;
  height: 48px;
  flex-shrink: 0;
  background: #f2f2fa;
}

.feature-payment__method-img:last-child {
  background: #f9ea63;
}

.feature-payment__desc {
  margin-bottom: 20px;
  color: #212832;
  font-size: 18px;
  font-weight: 600;
}

.feature-media__card {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  right: -111px;
  z-index: 3;
  bottom: 222px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #7264d6;
}

.feature__content-bottom {
  margin-left: 240px;
}

/*Blog*/
.feedback {
  margin-top: 76px;
  padding: 42px 0;
}

.feed-title {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.feed-title__heading {
  margin-bottom: 18px;
  color: #212832;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.feed-title__desc {
  width: 435px;
  color: #696d76;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.feed__item-list {
  margin-top: 70px;
  display: flex;
  align-items: center;
  column-gap: 28px;
}

.feed-item {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.feed-item__italic {
  padding: 42px 28px 52px;
  flex-shrink: 0;
  background: #fff;
  border: solid 1px #dfe2e8;
  border-radius: 8px;
}

.feed-item__italic-desc {
  position: relative;
  width: 514px;
  color: #696d76;
  text-align: center;
  font-family: "Open Sans";
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 34px; /* 154.545% */
}

.feed-item__italic {
  position: relative;
  padding: 42px 28px;
  border: 1px solid #dfe2e8;
  border-radius: 4px;
  background: #fff;
  z-index: 1;
}

.feed-item__italic:hover {
  border-color: #fff;
  filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.feed-item__italic-desc::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -85px;
  transform: translateX(-50%) rotate(54.4deg) skew(16deg);
  width: 84.3px;
  height: 84px;
  border-bottom: 1px solid #dfe2e8;
  border-right: 1px solid #dfe2e8;
  background: #fff;
  border-radius: 0 0 4px 0;
  overflow: hidden;
  z-index: -1;
}

.feed-item__italic:hover::after {
  border-color: #fff;
}

.feed-item__icon-wrap {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.feed-item__icon {
  margin-top: 90px;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background: #4ab5e3;
}

.feed-item__img {
  padding-top: 7px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: block;
  object-fit: cover;
}

.feed-item__desc-big {
  margin-top: 20px;
  color: #070052;
  font-size: 26px;
  font-weight: 600;
}

.feed-item__desc-small {
  margin-top: 2px;
  color: #696d76;
  font-size: 18px;
  font-weight: 400;
}

.feedback-item__arrow {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.feedback-item__dot {
  display: inline-block;
  width: 22px;
  height: 6px;
  border-radius: 1px;
  border: 1px solid #9b9fab;
}

.feedback-item__arrow-active {
  background: #7264d6;
  border-color: #7264d6;
}

/*Blog*/
.blog {
  margin-top: 76px;
  padding: 42px 0;
}

.blog-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-top__head {
  margin-top: -6px;
  width: 359px;
  color: #212832;
  font-size: 40px;
}

.blog-top__desc {
  width: 435px;
  margin-top: 18px;
  color: #696d76;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.blog__btn {
  width: 123px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #212832;
}

.blog-item__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 30px;
  column-gap: 30px;
}

.blog-item__inner {
  padding: 28px;
  width: 570px;
  height: 216px;
  border-radius: 12px;
  border: 1px solid #dfe2e8;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-item__inner:hover {
  border: none;
  background: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog-item__img {
  margin-right: 22px;
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  border-radius: 12px;
  object-fit: cover;
}

.blog-item__date {
  margin-bottom: 10px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

.blog-item__heading {
  margin-bottom: 20px;
  width: 332px;
  color: #212832;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.blog-item__read {
  color: #696d76;
  font-size: 16px;
  font-weight: 400;
}
